.superinfo__bg{
  background: #673f94;
  color: #fff;
}

.superinfo{
  max-width: 960px;

  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;
}

.superinfo a, .superinfo p{
  margin: 0 10px 10px 10px;
}

.superinfo a{
  color: #fff;
}

.menu__bg{
  background: #b486e8;
}

.menu{
  max-width: 960px;
  margin: 0 auto;
  padding: 15px 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu a{
  color: #fff;
}

.menu__logo{
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menu__nav ul{
  color: #fff;

  display: flex;
  flex-wrap: wrap;
  
}

.menu__nav a{
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

/* Intro */
.intro{
  font-size: 3em;
  line-height: 1;
  max-width:  960px;
  margin: 0 auto;
  padding: 60px 10px;
}

/*Sobre */

.about{
  border-top: 2px solid #b486e8;
  border-bottom: 2px solid #b486e8;

  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;

  display: flex;
  flex-wrap: wrap;

}

.about__info{
  flex: 2 1 300px; 
  margin: 0 10px;
}

.about__info h1{
  font-size: 3em; 
  margin-bottom: .5em;
}

.about__info p{
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #7c7c7c;
}

.about__imgs{
  flex: 1 1 160px;
  margin: 0 10px;
}

/*Productcs */

.products{
  max-width: 960px;
  margin: 60px auto;
}

.products h1{
  font-size: 3em;
  margin: 0 10px 60px 10px;
}

.products__container{
  display: flex; 
  flex-wrap: wrap; 
  align-items: flex-end;
}

.products__item{
  flex: 1 1 0;
  margin: 10px;
  min-width: 175px;

}

.products__item h2{
  font-size: 3em;
  color: #a4a4a4;
  background:#f7f7f7; 
  padding: 60px 20px;
}

.products__item-purple{
  border-top: 8px solid #ae81ff;
}

.products__item-pink{
  border-top: 8px solid #f9265e;
}

.products__item-blue{
  border-top: 8px solid #66d9eb;
}

/*Price */

.price{
  flex: 1 1 260px;
  background: #f7f7f7;
	padding: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.price__item{
  flex: 1;

  border: 4px solid #fff;
  padding: 20px;
  margin: 10px;
  min-width: 260px;
}

.price__item h2{
  font-size: 3em;
  color: #a4a4a4;
  text-align: center;
  margin-top: 20px;
}

.price__item span{
  max-width: 300px;
  margin: 20px auto;
  display: block;
  text-align: center;
  padding: 10px 0 5px 0;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  font-weight: bold;
  font-size: 3em;
}

.price__item sup{
  font-size: 1.5rem;
}

.price__item ul{

  max-width: 300px;
  margin: 20px auto;
  font-size: 1.25em;
  line-height: 1;
  font-style: italic;
  color: #7c7c7c;
}
.price__item li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}



.price__item li::after{

  content: '';
  display: block;
  width: 6px;
  height: 6px;
  background: #2c70ff;
  border-radius: 50%;

}

.price__item a{
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border: 4px solid;
  color: #222222;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.25em;
  padding: 15px 0;
  text-align: center;

}

@media(max-width: 800px){
  .price{
    padding-left: 10px;
    padding-right: 10px;
  }

  .price .price__item:nth-child(3){
    order: -1;
  }

  .price .price__item:nth-child(2){
    order: -2;
  }
}


.quality{
  max-width: 960px;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
}


.quality__item{
  flex: 1 1 300px;
  margin: 20px 10px;
}


.quality__item h2{
  font-size: 2.25em;
  color: #a4a4a4;
  margin-bottom: 20px;
}

.quality__item h2::before{
  content: '';
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 10px;
}

.quality__item:nth-of-type(3n+1) h2::before{
  background: #ae81ff;
}

.quality__item:nth-of-type(3n+2) h2::before{
  background: #f9265e;
}

.quality__item:nth-of-type(3n+3) h2::before{
  background: #66d9eb;
}

.quality__item p{
  font-size: 1.25em;
  line-height: 1.4;
  color: #7c7c7c;
}



